<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>User</title>
        <style>
            * {
                padding: 0;
                margin: 0;
                box-shadow: 0;
                justify-content: center;
            }

        </style>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    </head>
    <body>
        <div class="user_type">

            <h1><a href="{% url 'users.type.create' %}">Create</a></h1>
            <h1>Multiple data show</h1>
            <table border="1">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>User Type</th>
                        <th colspan="3">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% autoescape off %}
                    {% for i in data %}
                        <tr>
                            <!-- forloop.counter to increment counter in forloop -->
                            <!-- forloop.counter0 to start the count zero -->
                            <td>{{ forloop.counter }}</td> 
                            <td>{{ i.user_type }}</td>
                            <td><a href="{% url 'users.type.show' i.id %}"><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                            <td><a href="{% url 'users.type.edit' i.id %}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                            <td><a href="{% url 'users.type.delete' i.id %}"><i class="fa fa-trash" aria-hidden="true"></i>                            </a></td>
                            <!-- <td><a href="show/{{ i.id }}"><i class="fa fa-trash" aria-hidden="true"></i>                            </a></td> -->
                            <!-- URL Breakdown
                                url = http://localhost:8000
                                'users.type.show = '/usertype/show/
                                i.id = 1 
                            -->
                            <!-- url format -->
                            <!-- two ways -->
                            <!-- 1. show/{{ i.id }} -->
                            <!-- 2. {% url 'users.type.edit' i.id %} -->
                        </tr>
                    {% endfor %}
                    {% endautoescape %}
                </tbody>
            </table>
        </div>
    </body>
</html>